#cardStyle {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #1f1e1e;
  border-radius: 30px;
}
#cardStyle_top {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cardStyle_bottom {
  display: flex;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #383737;
}
#cardStyle_img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#cardStyle_name {
  font-size: larger;
  font-weight: 500;
  color: white;
}
#cardStyle_author {
  font-size: large;
  color: white;
}
#cardStyle_note {
  color: yellow;
  font-size: large;
}
#cardStyle_desc {
  color: white;
  font-size: medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  background: #ebebeb;
}
.nav-header {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-header__text {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  /* font-weight: 500; */
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-left: 2rem;
}
.nav-navigation {
  height: 10vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-navigation__ul {
  list-style-type: none;
  display: flex;
}
.nav-navigation__li {
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0rem 2rem 0rem 0rem;
}

.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  background: url(../img/lightbulb-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img {
  padding: 30vh 0vw 30vh 5vw;
}
.hero-h1 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10rem;
}
.hero-p {
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  width: 35ch;
}

.potd {
  height: 70vh;
  width: 100vw;
  background: yellow;
  display: flex;
}
.potd-left {
  height: 100%;
  width: 50%;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.potd-left__img {
  height: 90%;
  width: 90%;
  background: purple;
}
.potd-right {
  height: 100%;
  width: 50%;
  background: burlywood;
}

.form {
  height: 6vh;
  width: 100vw;
  display: flex;
  background: #f4f4f4;
  padding-top: 3em;
}
.form-buttons {
  height: 100%;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
.form-buttons__btn {
  padding: 0.6rem;
  background: none;
  border: none;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.form-text {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}
.form-filtering {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}
.form-filtering__filters {
  padding-right: 1rem;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.fa-solid {
  padding-left: 0.4rem;
}

.add-project, .delete-project {
  border-right: 1px solid black;
}

.fa-magnifying-glass {
  padding-right: 0.4rem;
}

.searchbar {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.searchbar:focus {
  outline: none;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  padding: 6em 3em;
}

.card {
  min-height: 13em;
  max-height: 13em;
  border: none;
  display: flex;
  flex-direction: row;
  width: 28em;
  border-radius: 30px;
}
.card__img {
  min-height: 13em;
  min-width: 50%;
  max-height: 15em;
  max-width: 50%;
  overflow-y: hidden;
  border-radius: 30px;
}
.card-img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 2rem 0rem 2rem 0rem;
}
.card-title {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
}

.footer {
  height: 30vh;
  width: 100vw;
}

.btn-card {
  background: none;
  border: none;
  color: #000;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: left;
}

.btn-card:hover {
  background: none;
  border: none;
  color: red;
  font-style: italic;
  text-decoration: underline;
  transition: 0.4s;
}

.btn-card:focus {
  background: none;
  border: none;
  color: #000;
  font-style: italic;
}

.about {
  min-height: 80vh;
  width: 100vw;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.about-us__header {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
}



.about-us__individual-1 {
  grid-column: 2/5;
  grid-row: 2/8;
  background: #fafafa;
  border-radius: 1rem;
  margin: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-us__individual-2 {
  grid-row: 2/8;
  grid-column: 5/8;
  background: #fafafa;
  border-radius: 1rem;
  margin: 5%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-us__individual-3 {
  grid-row: 2/8;
  grid-column: 8/11;
  background: #fafafa;
  border-radius: 1rem;
  margin: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.about-img {
  height: 6rem;
  border-radius: 4rem;
}

.about-h1 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  padding-top: 1.5rem;
}

.about-p {
  padding-top: 1rem;
  width: 20rem;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}