#cardStyle {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #1f1e1e;
  border-radius: 30px;
}
#cardStyle_top {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cardStyle_bottom {
  display: flex;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #383737;
}
#cardStyle_img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#cardStyle_name {
  font-size: larger;
  font-weight: 500;
  color: white;
}
#cardStyle_author {
  font-size: large;
  color: white;
}
#cardStyle_note {
  color: yellow;
  font-size: large;
}
#cardStyle_desc {
  color: white;
  font-size: medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  background: #ebebeb;
}
.nav-header {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-header__text {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 700;
  /* font-weight: 500; */
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-left: 2rem;
}
.nav-navigation {
  height: 10vh;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-navigation__ul {
  list-style-type: none;
  display: flex;
}
.nav-navigation__li {
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0rem 2rem 0rem 0rem;
}

.hero {
  height: 90vh;
  width: 100vw;
  display: flex;
  background: url(../img/lightbulb-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img {
  padding: 30vh 0vw 30vh 5vw;
}
.hero-h1 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10rem;
}
.hero-p {
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  width: 35ch;
}

.form {
  height: 6vh;
  width: 100vw;
  display: flex;
  background: #aaaaaa;
}
.form-buttons {
  height: 100%;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
.form-buttons__btn {
  padding: 0.6rem;
  background: none;
  border: none;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.form-text {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.form-filtering {
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}
.form-filtering__filters {
  padding-right: 1rem;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.fa-solid {
  padding-left: 0.4rem;
}

.add-project, .delete-project {
  border-right: 1px solid black;
}

.fa-magnifying-glass {
  padding-right: 0.4rem;
}

.searchbar {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.searchbar:focus {
  outline: none;
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.potd {
  height: 70vh;
  width: 100vw;
  background: yellow;
  display: flex;
}
.potd-left {
  height: 100%;
  width: 50%;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: center;
}
.potd-left__img {
  height: 90%;
  width: 90%;
  background: purple;
}
.potd-right {
  height: 100%;
  width: 50%;
  background: burlywood;
}

.seeprojects {
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seeprojects-txt {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 2rem;
}

.card-container {
  width: 100vw;
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  height: 30vh;
  width: 100vw;
}