// start of form section
.form{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
  
  
    &-buttons{
      height: 100%;
      width: 34%;
      display: flex;
      flex-direction: row;
      gap: 1em;
      align-items: center;
      margin-left: 3em;
      // justify-content: flex-start;
      
      &__btn{
        background: none;
        border: none;
        font-family: sculpin, sans-serif;
        font-weight: 400;
        font-style: normal;
        cursor: pointer;
        padding-right: 1em;
      }
  
      &__btn:hover{
        color: $accent;
        border-color: $accent;
        position: relative;
        bottom: 0.2em;
        transition: 0.3s;
      }
    }
    &-text{
      height: 100%;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include displayFont;
      font-weight: 500;
      color: black;
    }

    &-text__h1{
        font-size: 2.5vw;
    }
    &-filtering{
      height: 100%;
      width: 33%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 3em;
  
      &__filters{
        font-family: sculpin, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
      }
    }
  } 
  
  .fa-solid{
    padding-left: 0.4rem;
  }
  
  .add-project, .delete-project{
    border-right: 1px solid black;
  }
  
  .fa-magnifying-glass{
    padding-right: 0.4rem;
  }
  
  .searchbar{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    font-family: sculpin, sans-serif;
    font-weight: 400;
    font-style: normal;
  
  }
  .searchbar:focus {
    outline: none;
    font-family: sculpin, sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .preview__block{
      display: flex;
      flex-direction: row;

      &-btn{
          border: none;
          padding: 1em;
          @include bodyFont;
      }
  }

  .delete-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }

  .update-form{
      display: flex;
      flex-direction: row;
      gap: 4em;
  }

  .update__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;

      &-left{
        flex-basis: 50%;
        padding: 1em;
        display: flex;
        flex-direction: column;
      }

      &-right{
        flex-basis: 50%;
        padding: 1em;
        display: flex;
        flex-direction: column;
      }
  }
  // end of forms section
  // -------------------------------


  
  @media screen and (max-width: 700px){
    .form{
        height: 20vh;
        padding-top: 10vh;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        gap: 1em;
    }

  }