.potd{
    height: 70vh;
    width: 100%;
    background: #fff;
    display: flex;
    padding: 4em;
    overflow-x: hidden;
  
    &__left{
      height: 100%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2em 1em;
  
    }
    &__right{
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 2em 5em;
    }
  
    // &__header{
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   align-content: center;
    //   text-align: center;
    //   gap: 0.5em;
    // }
    
  
    &__header-block{
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      text-align: left;
      gap: 0.5em;
    }
  
    &-header{
      margin: 0;
      @include displayFont;
      border-right: solid 5px;
      padding-right: 0.5em;
      border-color: $accent;
      font-size: 2.5vw;
    
    }
    &-subheader{
      height: 100%;
      margin: 0;
      padding-left: 0.5em;
      font-size: 1.2vw;
    }
  
    &-author{
      @include bodyFont;
      font-weight: bold;
      margin-top: 0.5em;
      font-size: 1vw;
    }
  
    &__body{
      @include bodyFont;
      font-size: 1.4vw;
    }
  
    &-link{
      @include bodyFont;
      font-style: italic;
      font-size: 1vw;
      color: $dark;
      text-decoration: none;
    }
  
    &-link:hover{
      position: relative;
      bottom: 0.2em;
      color: $accent;
    }
  
  }
  // end of post of the day
  // -------------------------------

//   Media queries

@media screen and (max-width: 800px){

    .potd{
        height: 200vh;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .potd__right{
        width: 100%;
    }

    .potd-header{
        font-size: 9vw;
    }

    .potd-subheader{
        font-size: 5vw;
    }

    .potd-author{
        font-size: 2vw;
    }


    .potd-body{
        font-size: 4vw;
    }

    .potd-link{
        font-size: 2vw;
    }

    .potd__left{
        width: 100%;
    }
}

@media screen and (max-width: 600px){

    .potd{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .potd__right{
        width: 100%;
    }

    .potd-header{
        font-size: 11vw;
    }

    .potd-subheader{
        font-size: 7vw;
    }

    .potd-author{
        font-size: 4vw;
    }


    .potd-body{
        font-size: 6vw;
    }

    .potd-link{
        font-size: 4vw;
    }

    .potd__left{
        width: 100%;
    }
    
}