@import "var";
@import "mixins";
@import "resets";
@import "nav";
@import "cards";
@import "header";
@import "showcase";
@import "modal";
@import "forms";
@import "about";
@import "footer";


.footer{
  height: 30vh;
  width: 100vw;
}

.btn-card{
  background: none;
  border: none;
  color: #000;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: left;
}

.btn-card:hover{
  background: none;
  border: none;
  color: red;
  font-style: italic;
  text-decoration: underline;
  transition: 0.4s;
}

.btn-card:focus{
  background: none;
  border: none;
  color: #000;
  font-style: italic;
}



