@import "var";
@import "mixins";
@import "resets";
@import "nav";
@import "cards";
@import "header";
@import "showcase";
@import "modal";
@import "forms";
@import "about";
@import "footer";

.modal-body__add{
  display: flex;
  padding: 2rem;


}

.modal-field__add{
  width: 100%;
}

.modal-field__add::placeholder{
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-field__add:focus{
  font-family: sculpin, sans-serif;
  font-weight: 400;
  font-style: normal;
}

  .modal-body__left{
    height: 100%;
    width: 50%;
    padding-right: 2rem;
  }

  .modal-body__right{
    height: 100%;
    width: 50%;
    padding-left: 2rem;
  }

  .add-project__desc{
    display: block;
    width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 20px;
    margin: none;
  }

.add-img__div{
  display: flex;
  width: 100%;

}

.add-project__img{
  width: 92%;
}

.add-img__btn{
  width: 7%;
}

.adda-portfolio{
  padding: 0.5rem;
  background: none;
  border: 3px solid purple;
}

.img-preview{
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(230, 230, 230);
  margin-bottom: 1.5rem;
  


  &__txt{
    width: 20ch;
    font-family: sculpin, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.footer{
  height: 30vh;
  width: 100vw;
}

.btn-card{
  background: none;
  border: none;
  color: #000;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: left;
}

.btn-card:hover{
  background: none;
  border: none;
  color: red;
  font-style: italic;
  text-decoration: underline;
  transition: 0.4s;
}

.btn-card:focus{
  background: none;
  border: none;
  color: #000;
  font-style: italic;
}



